@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway|Roboto&display=swap');



/* header */
.top {
	display:grid;
	grid-template-columns: 2fr 0.5fr 0.5fr;
}

/* .logo {
	max-width:50%;
	height: auto;
} */