@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway|Roboto&display=swap');


/* 

#0D5BA6 - gbc blue
#FCFCFB - light grey
#009DDC - light blue
#FCB134 - yellow
#000000 - black */

html{
	--heading: 'Playfair Display', serif;
	--non-heading: 'Raleway', sans-serif;

	--primary:#0D5BA6;
	--secondary-a:#009DDC;
	--secondary-b:#FCB134 ;
	--background-a:#FCFCFB;
	--background-b: #d9d7d6;
}

@media screen and (min-width: 320px){
/* header */
.top {
	display:grid;
	grid-template-columns: 2.5fr 0.25fr 0.25fr;
	background-color:#0D5BA6;
	padding:none;
	height: 65px;
}

img.logo{
	width:70px;
	/* height:80px; */
	/* padding: 1em; */
	margin: 0.5em;

}

.search{
	margin: 0.5em;
	display: none;
}

/* tried to make a drop down menu but the container opens on the other side */

.dropdown{
	font-family: var(--non-heading);
}

.nav li{
	list-style-type: none;
	padding:6px;
	background-color: var(--background-b);
}

.top-nav li{
	list-style-type: none;
	padding:6px;
	background-color:var(--background-a);
}

.menu{
	background-color: transparent;
	font-size:10px;
	cursor:pointer;
	margin:10px;
}

.content{
	position:relative;
	display: block;
}

.content{
	display: none;
	position: absolute;
	background-color: var(--background-a);
	min-width:158px;
	z-index: 1;
}

.content a:hover{
	background-color: var(--secondary-a);
	color: white;

}
.dropdown:hover .content{
	display: block;
}

.dropdown:hover .menu{
	background-color: var(--secondary-b);
}

.schoolpic{
	width:100%;
}

/* main */
.container{
	position: relative;
}

.mainhead{
	position: absolute;
	font-size: 1.25em;
	top: 50%;
	/* left: 1%; */
	font-family: var(--heading) ;
	font-weight: bold;
	text-align: center;
}

.descrip{
	font-family: var(--non-heading);
	font-size: 15px;
	position: relative;
	text-align: center;
	margin: 8px;
}

h2{
	font-family: var(--heading);
	font-weight: bold;
	position: absolute;
	top:62%;
	left: 36%;
	text-align: center;
	/* margin:2em; */
	text-decoration: underline;
	
}

.students{
	/* background-color: #FCB134; */
	
	margin:2.5em;
	display:grid;
	grid-template-columns: 1fr 1fr;
	list-style-type: none ;
	grid-column-gap: 45px;
	
}

button{
	padding:10px 24px;
	border-radius: 4px;
	
}

.studenttype{
	font-family: var(--non-heading);
	font-size: 13px;
	background-color: var(--secondary-b);
}

/* input[type=button]{
	font-family: var(--non-heading);
} */


.pinfo{
	position:absolute;
	top:71%;
	left:43%;
	margin: 4px;
	
}

.program-nav{
	font-family: var(--non-heading);
	display: grid;
	grid-template-rows:auto;
	grid-gap: 10px;
	text-align: center;
	list-style-type: none;
	background-color: var(--background-b);
  width: 280px;
  border: double;
	padding-bottom:25px;
	padding-top: 25px;
	margin-left: 20px;
}

.pnav-op-1{
	padding: 5px;
	background-color: var(--background-a);
}

.overview{
	font-family: var(--non-heading);
	padding: 19px;
	
}

.overview-head{
	padding: 12px 12px 2px 12px;
	text-align: center;
	border-bottom: solid;
	border-color: var(--secondary-a);

	
}

.overview dt{
	text-decoration: underline;
	margin-top: 10px;
}

.overview dd{
	font-size: 13px;
}

.pdf{
	font-family: var(--non-heading);
	padding: 19px;
	
}

.pdf-head{
	padding: 12px 12px 2px 12px;
	text-align: center;
	border-bottom: solid;
	border-color: var(--secondary-a);
}

.pdf li{
	list-style-type:none;
	padding:5px;
}

.pa{
	font-family: var(--non-heading);
	padding: 19px;
}

.pa-head{
	padding: 12px 12px 2px 12px;
	text-align: center;
	border-bottom: solid;
	border-color: var(--secondary-a);
	
}

.pa dt{
	text-decoration: underline;
	margin-top: 10px;
}

.pa li{
	list-style-type:none;
	padding:5px;
	font-size: 13px;
}

.sim-prog{
	font-family: var(--non-heading);
	padding: 19px;
}

.sim-prog-head{
	padding: 12px 12px 2px 12px;
	text-align: center;
	border-bottom: solid;
	border-color: var(--secondary-a);
}

.sim-prog li{
	list-style-type:none;
	padding:5px;
}

.end{
	font-family:var(--non-heading);
	font-size: 10px;
	text-align: center;
	padding: 5px;
}

/* footer */
.foot{
	font-family: var(--non-heading);
	background-color: var(--secondary-b);
	padding: 13px;
	font-size: 12px;
	text-align: center;
}

.foot li{
	list-style-type:none;
}

.social-media{
	display:grid;
	grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
	grid-gap:9px;
	position:relative;
	/* top:277%;
	left:37%; */
	margin-top:12px;
	margin-left: 73px;
}

}

@media screen and (min-width: 500px){

.search{
	display: block;
	position: relative;
}

.mainhead{
	text-align: center;
	margin-top: 100px;
}

h2{
	position: absolute;
	top:70%;
	left:40%;
}

.pinfo{
	position:absolute;
	left: 45%;
	top: 80%;
}

.program-nav{
	margin-left: 120px;
}
	
.social-media{
	margin-left: 140px;
}



	







}